@import '@angular/material/prebuilt-themes/purple-green.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container {
    display: flex; /* or inline-flex */
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.item {
    width: 45%;
}

.property-card {
    width: 50%;
} 
